# The env the app is running in e.g. development, production
PUBLIC_ENV=development

# This is the semver release version of the app, pulled from package.json
PUBLIC_RELEASE_VERSION=

# This is the commit hash that the current bundle was made from.
PUBLIC_BUNDLE_IDENTIFIER=

# Should be formatted YYMMDDHH so that it increases for each build.
PUBLIC_BUNDLE_DATE=0

# The log level for the app's logger transports
PUBLIC_LOG_LEVEL=debug

# Enable debug logs for specific logger instances
PUBLIC_LOG_DEBUG=session

# Bluesky appview DID
PUBLIC_BLUESKY_PROXY_DID=

# Chat service DID
PUBLIC_CHAT_PROXY_DID=

#
#
# Bluesky specific values
#
#
