/.research/

node_modules/
/web-build/

/src/locale/locales/_build/
/src/locale/locales/**/messages.js
/src/locale/locales/**/messages.mjs
/src/locale/locales/**/messages.ts

.npm-*.log
.pnpm-*.log
.yarn-*.log
npm-*.log
pnpm-*.log
yarn-*.log

*.local
*.local.json

tsconfig.tsbuildinfo
.eslintcache

.wrangler/
