@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic.css';

/* Remove autofill styles on Webkit */
input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--text);
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px var(--background);
	background: var(--background);
	color: var(--text);
}

input[type='range'][orient='vertical'] {
	writing-mode: vertical-lr;
	direction: rtl;
	width: 16px;
	vertical-align: bottom;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

input[type='range'][orient='vertical']::-webkit-slider-runnable-track {
	background: white;
	height: 100%;
	width: 4px;
	border-radius: 4px;
}

input[type='range'][orient='vertical']::-moz-range-track {
	background: white;
	height: 100%;
	width: 4px;
	border-radius: 4px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
	background-color: white;
	height: 16px;
	width: 16px;
	margin-left: -6px;
}

input[type='range'][orient='vertical']::-moz-range-thumb {
	border: none;
	border-radius: 50%;
	background-color: white;
	height: 16px;
	width: 16px;
	margin-left: -6px;
}
